/* DEFAULT.css : 모바일 영역 + 기본값 */
#wrapper{min-width: 320px; max-width: 1920px; margin: 0 auto;}
img.tab{display: none;}
img.pc{display: none;}
img.m{display: block;}

header{
    height: 63px;
    background-color: #e70404;
    display: flex;
    justify-content: space-between;
}
header h1{
    order: 2;
    /* 
        order : flex-item(flex정렬 대상들-자식)의
                정렬 순서를 지정
                모든 정렬대상에게 전부 순서를 지정해야 함
    
    */
}
header h1{
    width: 112px;
    display: flex;
    align-items: center;
}
header .btn-nav{order: 1;}
header .btn-nav button{
    width: 65px;
    height: 63px;
    background-color: #222;
}
header .btn-nav button img{
    width: 25px;
    margin: 0 auto;
}
header nav{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    transition: left 0.3s;
}
header nav .control{display: flex;}
header nav .control .btn-close{}
header nav .control .btn-close button{
    width: 65px;
    height: 65px;
    background-color: #fff;
}
header nav .control .btn-close button img{
    width: 21px;
    margin: 0 auto;
}
header nav .control .search{
    width: calc(100% - 65px);
    /* width: 100%; */
}
header nav .control .search form{
    display: flex;
}
header nav .control .search form .user-input{
    width: calc(100% - 65px);
}
header nav .control .search form .user-input input{
    width: 100%;
    height: 65px;
    background-color: #333;
    padding-left: 12px;
}
header nav .control .search form button{
    width: 65px;
    height: 65px;
    background-color: #333;
}
header nav .control .search form button img{
    width: 23px;
    margin: 0 auto;
}
/* header nav .gnb{}
header nav .gnb li{} */
header nav .gnb li a{
    border-top: 1px solid #444;
    display: block;
    padding: 12px 16px;
    color: #fff;
    background-color: #333;
}
/* header nav .gnb li:nth-child(7) a,
header nav .gnb li:nth-child(8) a{background-color: #e70404;} */
header nav .gnb li:nth-child(1n + 7) a{background-color: #e70404;}
header .btn-mypage{order: 3;}
header .btn-mypage button{
    width: 65px;
    height: 63px;
    background-color: #222;
}
header .btn-mypage button img{
    width: 25px;
    margin: 0 auto;
}

.banner img{width: 100%;}

.con{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.con .box{
    position: relative;
}
/* .con .box .pic{} */
.con .box .pic img{width: 100%;}
.con .box .txt{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s;
}
.con .box:hover .txt{opacity: 1;}
.con .box .txt .ico{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.con .box .txt .ico img{
    width: 30px;
}